.service {
  background-image: url("@img/service/service-decore.png");
  background-repeat: no-repeat;
  background-position: right 25px top 106px;
  &__container {
    padding-top: 115px;
    padding-bottom: 123px;
  }

  &__category {
    text-align: center;
    font-weight: 600;
    font-size: rem(18);
    line-height: math.div(27, 18);
    margin-bottom: 10px;
  }

  &__title {
    font-family: "Volkhov";
    font-weight: 700;
    @include adaptiveValue("font-size", 50, 20);
    line-height: math.div(64, 50);
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
    margin-bottom: 108px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 267px;
    padding: 0px 43px 45px 43px;

    &:hover,
    &:focus {
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(185, 93, 93, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      border-radius: 36px;
    }
  }

  &__img {
    width: 92px;
    height: 78px;
    margin-bottom: 30px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__subtitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(27, 20);
    color: #1e1d4c;
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 500;
    line-height: 1.62;
    color: #5e6282;
    text-align: center;
  }

  &__item--decore {
    position: relative;

    & img {
      width: 160px;
    }
  }

  &__item--decore::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 100px;
    height: 100px;
    background-color: #df6951;
    border-radius: 30px 0px 10px;
  }

  @media (min-width: $mobile) {
    background-position: right 80px top 106px;

    &__list {
      justify-content: space-around;
    }
  }
  @media (min-width: $tablet) {
    background-position: right 50px top 106px;
  }

  @media (min-width: $pc) {
    background-position: right 30px top 106px;
  }
}
